.ship-icon-png-14-4 {
    position: absolute;
    top: 922px;
    left: 100px;
    width: 116px;
    height: 95px;
    object-fit: cover;
  }
  .about,
  .categories {
    position: absolute;
    top: 309px;
    left: 322px;
    line-height: 42px;
    font-weight: 500;
    display: inline-block;
    width: 267px;
    height: 52px;
    font-size: 55px;
  }
  .about {
    top: 311px;
    left: 826px;
  }
  .blank-line,
  .blank-line1,
  .blank-line2,
  .consultancy-services,
  .content-writer,
  .digital-marketing,
  .programming-tech {
    margin: 0;
  }
  .blank-line3 {
    margin: 0;
    font-size: var(--font-size-21xl);
  }
  .digital-marketing-programming-container {
    position: absolute;
    top: 394px;
    left: 322px;
    line-height: 48px;
    display: inline-block;
    width: 408px;
    height: 553px;
    font-size: 25px;
  }
  .blank-line4,
  .blank-line5,
  .careers,
  .partnerships,
  .terms-of-service {
    margin: 0;
  }
  .careers-partnerships-terms-container,
  .community {
    position: absolute;
    line-height: 42px;
    display: inline-block;
  }
  .careers-partnerships-terms-container {
    top: 394px;
    left: 826px;
    font-size: 25px;
    width: 408px;
    height: 553px;
  }
  .community {
    position: absolute;
    top: 309px;
    left: 1300px;
    line-height: 42px;
    font-weight: 500;
    display: inline-block;
    width: 267px;
    height: 52px;
    font-size: 55px;
  }
  .become-a-seller,
  .blank-line6,
  .blank-line7,
  .community-hub,
  .customer-success-stories {
    margin: 0;
  }
  .customer-success-stories-container {
    position: absolute;
    top: 394px;
    left: 1300px;
    font-size: 25px;
    line-height: 48px;
    display: inline-block;
    width: 408px;
    height: 553px;
  }
  .icons8-facebook-30-1,
  .icons8-instagram-50-1,
  .icons8-linked-in-50-1,
  .icons8-x-50-1 {
    position: absolute;
    top: 934px;
    left: 1134px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .icons8-facebook-30-1,
  .icons8-linked-in-50-1,
  .icons8-x-50-1 {
    left: 1252px;
  }
  .icons8-linked-in-50-1,
  .icons8-x-50-1 {
    left: 1380px;
  }
  .icons8-x-50-1 {
    left: 1506px;
  }
  .desktop-2 {
    width: 100%;
    position: relative;
    background-color: #aad6df;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  