.exploring-services {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffefe;
}

.form1 {
    background-color: #dcd8d8;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px; /* Set maximum width for the form */
    width: 100%; /* Take full width of the container */
    box-sizing: border-box; /* Include padding and border in width */
}

.title4 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.description1 {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.list1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.row3 {
    width: 100%;
}

.title5 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}

.chip-group {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    width: 100%; /* Take full width of the container */
}

.chip {
    border: 1px solid #5e5b5b;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 93px; /* Reduce the margin between chips */
}

.chip:hover {
    background-color: #5c5a5a;
}

.text2 {
    width: calc(100% - 30px); /* Adjust width for padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px 15px; /* Adjust font size and input padding */
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Include padding and border in width */
}

.button1 {
    margin-top: 30px;
}

.primary1 {
    background-color: #010509;
    color: #fff;
    padding: 15px 30px; /* Adjust font size and button padding */
    border-radius: 5px;
    cursor: pointer;
}

.primary1:hover {
    background-color: #080f15;
}

.dont-have-an {
    color: #666;
    font-size: 17px;
    cursor: pointer;
}
